# Node / Frontend
node_modules/
dist/
build/
.cache/
.vscode/
.env

# Docker / Trivy
*.log
*.tpl
*.deb

# Sistema
.DS_Store
Thumbs.db

# Pero SI incluir estos archivos importantes
!index.html
!login.html
!package.json
!package-lock.json
